USE [master]
GO
/****** Object:  Database [PRACTICAPROFESIONAL]    Script Date: 29/10/2024 20:30:45 ******/
CREATE DATABASE [PRACTICAPROFESIONAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICAPROFESIONAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRACTICAPROFESIONAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRACTICAPROFESIONAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRACTICAPROFESIONAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICAPROFESIONAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICAPROFESIONAL]
GO
/****** Object:  Table [dbo].[LOCALIDAD]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDAD](
	[ID_LOCALIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[ID_PROFESOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TELEFONO] [int] NULL,
	[ID_LOCALIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIA]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIA](
	[ID_MATERIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICTA_MATERIA]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICTA_MATERIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFESOR] [int] NULL,
	[ID_MATERIA] [int] NULL,
	[PRECIO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FILTRO]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_FILTRO]
AS
SELECT P.ID_PROFESOR, NOMBRE, APELLIDO, M.ID_MATERIA, M.DESCRIPCION AS MATERIA, L.ID_LOCALIDAD, L.DESCRIPCION AS LOCALIDAD FROM PROFESOR P
INNER JOIN DICTA_MATERIA D ON (P.ID_PROFESOR = D.ID_PROFESOR)
INNER JOIN MATERIA M ON (D.ID_MATERIA = M.ID_MATERIA)
INNER JOIN LOCALIDAD L ON(P.ID_LOCALIDAD = L.ID_LOCALIDAD)
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 29/10/2024 20:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Contrasena] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DICTA_MATERIA] ON 

INSERT [dbo].[DICTA_MATERIA] ([ID], [ID_PROFESOR], [ID_MATERIA], [PRECIO]) VALUES (1, 1, 2, 9500)
INSERT [dbo].[DICTA_MATERIA] ([ID], [ID_PROFESOR], [ID_MATERIA], [PRECIO]) VALUES (2, 1, 9, 15000)
INSERT [dbo].[DICTA_MATERIA] ([ID], [ID_PROFESOR], [ID_MATERIA], [PRECIO]) VALUES (3, 2, 1, 10500)
SET IDENTITY_INSERT [dbo].[DICTA_MATERIA] OFF
GO
SET IDENTITY_INSERT [dbo].[LOCALIDAD] ON 

INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [DESCRIPCION]) VALUES (1, N'RAMOS MEJIA')
INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [DESCRIPCION]) VALUES (2, N'CUIDADELA')
INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [DESCRIPCION]) VALUES (3, N'MORON')
SET IDENTITY_INSERT [dbo].[LOCALIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIA] ON 

INSERT [dbo].[MATERIA] ([ID_MATERIA], [DESCRIPCION]) VALUES (1, N'SISTEMAS DE INFORMACION')
INSERT [dbo].[MATERIA] ([ID_MATERIA], [DESCRIPCION]) VALUES (2, N'EDI 1')
INSERT [dbo].[MATERIA] ([ID_MATERIA], [DESCRIPCION]) VALUES (3, N'METODOLOGIA DE LA INVESTIGACION')
SET IDENTITY_INSERT [dbo].[MATERIA] OFF
GO
SET IDENTITY_INSERT [dbo].[PROFESOR] ON 

INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO], [ID_LOCALIDAD]) VALUES (1, N'GONZALO', N'REYNOSO', N'G.REYNOSO@INST46.COM', 1122334452, 2)
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO], [ID_LOCALIDAD]) VALUES (2, N'LUIS', N'GORRINI', N'L.GORRINI@INST46.COM', 1162738471, 3)
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO], [ID_LOCALIDAD]) VALUES (3, N'LUIS', N'FERNANDEZ', N'L.FERNANDEZ@INST46.COM', 1164726300, 5)
SET IDENTITY_INSERT [dbo].[PROFESOR] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([Id_Usuario], [NombreUsuario], [Email], [Contrasena]) VALUES (1, N'nicolas', N'nicolas_moreno@gmail.com', 123)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[PROFESOR]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD])
REFERENCES [dbo].[LOCALIDAD] ([ID_LOCALIDAD])
GO
USE [master]
GO
